@import "Bootstrap";

@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

.react-grid-item.react-grid-placeholder {
  @extend .card;
  @extend .bg-primary;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.btn-icon {
  /* Since your button is a block button, otherwise use inline-flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable {
  cursor: move;
}

.nav-segment > * {
  padding: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 0.25rem;
}

[contenteditable="true"] {
  outline: 1px dashed #fff;
}

[contenteditable="true"]:hover {
  outline: 1px solid #fff;
}

[contenteditable="true"]:focus {
  outline: 1px solid #fff;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.rdg-psp {
  --rdg-color-scheme: dark;
  --rdg-color: #fff;
  --rdg-border-color: #{$psp-steel};
  // --rdg-summary-border-color: #555;
  --rdg-background-color: #{$dark};
  --rdg-header-background-color: #{$black};
  --rdg-row-hover-background-color: #{darken($psp-aged, 15%)};
  --rdg-row-selected-background-color: #{$primary};
  --rdg-row-selected-hover-background-color: #{$primary};
  --rdg-selection-color: #{$primary};
  // --rdg-checkbox-color: hsl(207deg 100% 79%);
  // --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
  // --rdg-checkbox-disabled-border-color: #000;
  // --rdg-checkbox-disabled-background-color: #333;
}
