@import 'Bootstrap';

@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

.react-grid-item.react-grid-placeholder {
    @extend .card;
    @extend .bg-primary;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

.btn-icon {
  /* Since your button is a block button, otherwise use inline-flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable {
  cursor: move;
}

.nav-segment > * {
  padding: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 0.25rem;
}

[contenteditable="true"]{
  outline: 1px dashed #fff;
}

[contenteditable="true"]:hover {
  outline: 1px solid #fff;
}

[contenteditable="true"]:focus {
  outline: 1px solid #fff;
}