:root {
  --rct-color-tree-bg: #00000000;
  --rct-color-tree-focus-outline: #00000000;

  --rct-color-focustree-item-selected-bg: theme(colors.moondust.DEFAULT);
  --rct-color-focustree-item-selected-text: inherit;
  --rct-color-focustree-item-focused-border: theme(colors.rush.DEFAULT);
  --rct-color-focustree-item-draggingover-bg: #ebf0f4;
  --rct-color-focustree-item-draggingover-color: inherit;

  --rct-color-nonfocustree-item-selected-bg: theme(colors.moondust.DEFAULT);
  --rct-color-nonfocustree-item-selected-text: inherit;
  --rct-color-nonfocustree-item-focused-border: #00000000;

  --rct-color-search-highlight-bg: #a2aed2;
  --rct-color-drag-between-line-bg: #0366d6;
  --rct-color-arrow: #373a3f;

  --rct-item-height: 22px;

  --rct-color-renaming-input-submitbutton-bg: inherit;
  --rct-color-renaming-input-submitbutton-bg-hover: #0366d6;
  --rct-color-renaming-input-submitbutton-bg-active: #095fc1;

  --rct-color-renaming-input-submitbutton-text: inherit;
  --rct-color-renaming-input-submitbutton-text-hover: #ffffff;
  --rct-color-renaming-input-submitbutton-text-active: #ffffff;
}

.rct-root-tree {
}
