@tailwind base;
@tailwind components;
@tailwind utilities;

.uplot {
  font-family: "IBM Plex Mono", monospace !important;
  height: min-content !important;
}

.u-title {
  font-size: 16px !important;
  font-weight: normal !important;
}

.u-select {
  @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-20 !important;
}
