@tailwind base;
@tailwind components;
@tailwind utilities;

.uplot {
  font-family: "IBM Plex Mono", monospace !important;
  height: min-content !important;
}

.u-title {
  font-size: 16px !important;
  font-weight: normal !important;
}
